<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="/login" method="POST">
        <div>
            <input type="email" name = "email" placeholder="enter registered email">
        </div>
        <div>
            <input type="password" name = "pwd" placeholder="enter registered password">
        </div>
        <button type="submit" value="login">Login</button>
    </form>
</body>
</html>