<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register Page</h2>
    <form action="/register" method="POST">
        <div>
            <input type = "text" placeholder="Enter username" name="username">
        </div>
        <div>
            <input type = "email" placeholder=" Enter Email" name="email">
        </div>
        <div>
            <input type = "password" placeholder=" Enter password" name="pwd">
        </div>
        <input type = "submit" value="signup">
    </form>
</body>
</html>